.pending {
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding: 1em;
  margin: 1em;
  background: lightcoral;
  height: fit-content;
}
.completed {
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding: 1em;
  margin: 1em;
  background: lightgray;
  height: fit-content;
  text-decoration: line-through;
}
h3 {
  font-size: 1.5em;
}
.delete {
  position: absolute;
  right: 1em;
  top: 1em;
  border: 2px solid black;
}
.status {
  position: absolute;
  right: 3em;
  top: 0.75em;
}
