.task{
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    padding: 1em;
    margin: 1em;
    background: lightcoral;
    /* height: 3em; */
    height: fit-content;
}
h3{
    font-size: 1.5em;
}
.delete{
    position: absolute;
    right: 1em;
    top: 1em;
    border: 2px solid black;
}
.status{
    position: absolute;
    right: 3em;
    top: 0.75em;
}